# CONFIG JWT
JWT_SECRET=your_super_secure_secret_with_at_least_32_characters_here
JWT_EXPIRES_IN=24h

# CONFIG DATABASE
DATABASE_URL=postgresql://user:password@localhost:5432/plantilla_nestjs
DB_SYNC=false

# CONFIG APPLICATION
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:3000,http://localhost:3001

# CONFIG USER ROOT
USER_ROOT_USERNAME=username
USER_ROOT_EMAIL=email
USER_ROOT_PASSWORD=password
